<section class="vh-100" style="background-color: #9A616D;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <!-- Image Section -->
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img src="https://img.freepik.com/free-vector/sign-concept-illustration_114360-125.jpg"
                                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                        </div>

                        <!-- Form Section -->
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">
                                <form>
                                    <!-- Error Message -->
                                    <div *ngIf="errorMessage" class="alert alert-danger mt-3" role="alert">
                                        {{ errorMessage }}
                                    </div>
                                    
                                    <!-- SignUp Header -->
                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <i class="fas fa-cubes fa-2x me-3" style="color: #502714;"></i>
                                        <span class="h1 fw-bold mb-0">SignUp</span>
                                    </div>

                                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign up for your account</h5>

                                    <!-- Username Input -->
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <input type="text" id="username" class="form-control form-control-lg" [(ngModel)]="username" name="username" required />
                                        <label class="form-label" for="username">Username</label>
                                    </div>

                                    <!-- Email Input -->
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <input type="email" id="email" class="form-control form-control-lg" [(ngModel)]="email" name="email" required />
                                        <label class="form-label" for="email">Email</label>
                                    </div>

                                    <!-- Password Input -->
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <input type="password" id="password" class="form-control form-control-lg" [(ngModel)]="password" name="password" required />
                                        <label class="form-label" for="password">Password</label>
                                    </div>

                                    <!-- Submit Button -->
                                    <div class="pt-1 mb-4">
                                        <button data-mdb-button-init data-mdb-ripple-init class="btn btn-dark btn-lg btn-block" type="button" (click)="signup()">SignUp</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
